      
@font-face {
  font-family: 'DINNEXTOPRO';
  src: url('assets/fonts/din-next-regular/DINNextLTPro-Regular.ttf');
}

@media all and (max-width: 699px){
  p{
    padding: 0 10vw;
  }
}

*{
  box-sizing: border-box;
}

html, body, div {
  width: 100%;
  height: 100%;
  font-size: small;
  font-family: DINNEXTOPRO;
  text-align: center;
  line-height: 17px;
}    

div {
  color: #444444;
  background-image: url(assets/images/bot-background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #e6c7a0;

}

a {
  display: block;
  padding: 10px 20px;
  margin: 45px auto 45px auto;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  color: #e6c7a0;
  background-color: white;
  cursor: pointer;
}

p {
  padding: 0 27vw;
  margin: 20px 20px;
  color: white;

}

img {
  margin: 100px 0 0 0;
  padding: 48px 0 8px 0;
  max-width: 341px;
  height: 230px
}




