*{
    box-sizing: border-box;
}

html, body, div {
    width: 100%;
    height: 100%;
}    

    div {
        background-image: url(assets/images/bot-background.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        color: #444444;
        font-family: DINNEXTOPRO;
        text-align: center;
        background-color: #E6C7A0;
      }

    a {
        display: block;
        margin:45px auto 45px auto;
        width: fit-content;
        text-align: center;
        color: #E6C7A0;
        background-color: white;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
      }

      p {
        text-align: center;
        margin:20px 20px;
        color: white;
        padding: 0 22vw;
      }

      img {
        align-content: center;
        padding: 75px 0 20px 0;
        max-width: 341px;
        width: 80%;
        height: auto;
      }
    @media all and (max-width: 699px){
        p{
            padding: 0 10vw;
        }
    }
   
    

    @font-face {
        font-family: 'DINNEXTOPRO';
        src: url('assets/fonts/din-next-regular/DINNextLTPro-Regular.ttf');
    }


